name: CI

on: push

permissions:
  contents: read

jobs:
  hlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: "Set up HLint"
        uses: haskell-actions/hlint-setup@0b0024319753ba0c8b2fa21b7018ed252aed8181

      - name: "Run HLint"
        uses: haskell-actions/hlint-run@eaca4cfbf4a69f4eb875df38b6bc3e1657020378
        with:
          path: '["app/", "src/", "test/"]'
          fail-on: warning

  fourmolu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: "Check formatting with Fourmolu"
        uses: haskell-actions/run-fourmolu@5a9f41fa092841e52e6c57dde5600e586fa766a4

  build-binary:
    needs: hlint

    runs-on: ubuntu-latest

    env:
      CONFIG: "--enable-tests --enable-benchmarks"

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: haskell-actions/setup@dd344bc1cec854a369df8814ce17ef337d6e6170
        id: setup-haskell-cabal
        with:
          ghc-version: "9.4"
          cabal-version: "latest"

      - name: Update Hackage snapshot
        run: |
          cabal update
          cabal freeze $CONFIG

      - name: Cache dependencies
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
        with:
          path: |
            ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-

      - name: Build dependencies
        run: cabal build --only-dependencies $CONFIG

      - name: Build application
        run: cabal build $CONFIG all

      - name: Run tests
        run: cabal test $CONFIG all

      - name: Generate documentation
        run: cabal haddock $CONFIG all

      - name: Install binary
        run: cabal install --enable-executable-static --install-method=copy --overwrite-policy=always --installdir=dist/

      - name: Rename binary
        run: mv dist/eselsohr-exe dist/eselsohr

      - name: Store application binary as artifact
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
        with:
          name: eselsohr
          path: dist/eselsohr
