name: CI

on: push

permissions:
  contents: read

jobs:
  hlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: "Set up HLint"
        uses: rwe/actions-hlint-setup@9f5da5e7cd43663fb7b2e2154a087c17f0471ed1
        with:
          version: "3.5"

      - name: "Run HLint"
        uses: rwe/actions-hlint-run@c178fa6263930e604e377a21ef54403306bdc1c7
        with:
          path: '["app/", "src/", "test/"]'
          fail-on: warning

  fourmolu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: "Check formatting with Fourmolu"
        uses: fourmolu/fourmolu-action@b8c81ae2d7b586f05230555b647b406442be9cba

  build-binary:
    needs: hlint

    runs-on: ubuntu-latest

    env:
      CONFIG: "--enable-tests --enable-benchmarks"

    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - uses: haskell/actions/setup@f102749f0cd377774c985f89283dba610de7cd79
        id: setup-haskell-cabal
        with:
          ghc-version: "9.2"
          cabal-version: "latest"

      - name: Update Hackage snapshot
        run: |
          cabal update
          cabal freeze $CONFIG

      - name: Cache dependencies
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: |
            ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-

      - name: Build dependencies
        run: cabal build --only-dependencies $CONFIG

      - name: Build application
        run: cabal build $CONFIG all

      - name: Run tests
        run: cabal test $CONFIG all

      - name: Generate documentation
        run: cabal haddock $CONFIG all

      - name: Install binary
        run: cabal install --enable-executable-static --install-method=copy --overwrite-policy=always --installdir=dist/

      - name: Rename binary
        run: mv dist/eselsohr-exe dist/eselsohr

      - name: Store application binary as artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: eselsohr
          path: dist/eselsohr
