name: FreeBSD

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-binary-for-freebsd:
    runs-on: macos-12

    env:
      CONFIG: "--disable-benchmarks --disable-documentation"

    steps:
      - uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247

      - name: FreeBSD-VM
        id: build-freebsd
        uses: vmactions/freebsd-vm@dcbf6bacfcec5f990d6a6b3aab51beb0171b7354
        with:
          release: 12.3
          envs: "CONFIG"
          usesh: true
          mem: 4096
          run: |
            # Switch to latest branch.
            mkdir -p /usr/local/etc/pkg/repos
            echo 'FreeBSD: { url: "pkg+https://pkg.FreeBSD.org/${ABI}/latest" }' > /usr/local/etc/pkg/repos/FreeBSD.conf
            pkg update

            # Install dependencies.
            pkg install -y ghc hs-cabal-install

            # Disable generation of documentation. Overriding this via cli
            # flags is broken.
            sed -i '.bak' 's/documentation: True/documentation: False/' cabal.project

            # Build and test project.
            cabal update
            cabal build $CONFIG all
            cabal test $CONFIG all
            cabal install --enable-executable-static --install-method=copy --overwrite-policy=always --installdir=dist/
            mv dist/eselsohr-exe dist/eselsohr

      - name: Store application binary as artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: eselsohr
          path: dist/eselsohr
